.mainTem {
  height: 100%;
}
:deep(.el-table__inner-wrapper) {
  .is-vertical {
    display: none;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  width: auto;
}

.tags {
  &:deep(.el-tag.el-tag--info) {
    background-color: var(--themeColor);
    color: #fff;
    border: 2px solid #000;
    margin-right: 5px;
    font-size: 12px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
