.mainTem {
  height: 100%;
}

.example-demonstration {
  font-size: 12px;
  // 不换行
  white-space: nowrap;
  // 超出部分隐藏
  transform: translateY(-10px);
}

.empty {
  display: flex;
  flex-direction: column;
  width: auto;
}

// 旋转一圈，使用动画
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
