.mainTem {
  height: 100%;
}


.empty {
  display: flex;
  flex-direction: column;
  width: auto;
}

// 旋转一圈，使用动画
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
